* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: url(./rectangleb.png), url(./rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  color: black;

    .icon {
      width: 400%;
      padding: 5px;
    }

    div ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style-type: none;
      font-weight: bold;
      gap: 90px;
      padding:10px;
    }
}

header {
  margin-top: 30px;
  padding: 10px;
  font-weight: bold;
}
section {
  width: 100%;
  text-align: center;

  h1 {
    color: cadetblue;
    font-size: 50px;
    margin-block: 15px;
  }
  p {
    font-weight: bold;
    margin-top: 20px;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 50px;

  div {
    width: 400px;
    height: 300px;
    position: relative; 

    .image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    h4 {
      width: 100%;
      position: absolute;
      text-align: center;
      top: 65%;
      left: 2%;
      font-size: 25px;
      color: white;
    }
  }
}

  .getinvolved {
    width: 100%;
    margin-top: 50px ;
    text-align: center;
    color:white;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;;
  }

@media screen and (max-width: 550px) {

  nav {
    display: flex;
    position: relative;

    div ul {
      display: flex;
      position: absolute;
      top: 30%;
      left: 15%;
    }
    .icon {
      position: relative;
      top: 100%;
      left: 600%;
    }
  }

  header {
    margin-top: 110px;
    text-align:  center;
    font-weight: bold;
  }

  section {
    display: none;
  }

  main {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 10px;
  
   div {
    width: 250px;
    height: 200px;
    position: relative;

    h4 {
      position: absolute;
      text-align: center;
      top:50%;
      left: 110%;
      font-size: 20px;
      color:black;
    }
  }
}
}